body {
	display: flex;
	min-height: 10vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.col-sm-3 {
	text-align: center;
	image-rendering: auto;
	padding: 15px;
}
  
.cover_book {
	width:200x;
   	height:300px;
	text-align: center;
	padding: 15px;
}

.sort_by {
    align-self: end;
	margin-top: 15px;
}
